# General
aws_profile = "default"
aws_region  = "ap-northeast-1"

common_prefix = "tf"

# VPC
vpc_availability_zone = "ap-northeast-1a"

# EC2
key_name                   = "your-ssh-key-name"
ec2_ami                    = "ami-011facbea5ec0363b"
ec2_instance_type          = "t2.micro"
ec2_root_block_volume_type = "standard" # gp2 / io1 / standard
ec2_root_block_volume_size = "15"
ec2_ebs_block_volume_type  = "standard" # gp2 / io1 / standard
ec2_ebs_block_volume_size  = "50"

# RDS
aws_db_name     = "set-db_name"
aws_db_username = "set-db_admin"
aws_db_password = "set-db_password"

