const firebaseConfig = {
  apiKey: 'api-key',
  authDomain: 'sample-chat-system.firebaseapp.com',
  databaseURL: 'https://sample-chat-system.firebaseio.com',
  projectId: 'sample-chat-system',
  storageBucket: 'sample-chat-system.appspot.com',
  messagingSenderId: 'sender-id',
  appId: 'app-id'
}

export default firebaseConfig
